<div class="box">
  <div class="media-content">
    <span class="title is-4 media-left"><%= link_to event.title, event %></span>
    <% if user_signed_in? %>
      <% if event.attendees.exists? current_user.id %>
        <%= form_with url: event_attendance_path(current_user.find_attended_event(event)), method: :delete do |form| %>
          <%= form.submit "Unattend", class: "button is-danger" %>
        <% end %>
      <% else %>
        <%= form_with url: event_event_attendances_path(event) do |form| %>
          <%= form.submit "Join this event", class: "button is-primary" %>
        <% end %>
      <% end %>
    <% end %>
    </span>
  </div>
  <p><%= event.description %></p>
  <hr/>
  <div class="columns">
    <span>Attended event:</span>
    <% event.attendees.each do |attendee| %>
      <div>
        <%= attendee.name %>
      </div>
    <% end %>
    <span class="column is-half has-text-right"><%= event.location %> -
      <small><%= event.event_date.to_formatted_s(:db) %></small>
    </span>
  </div>
</div>
