<nav class="navbar is-info" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="true" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">
      <%= link_to "private Event", events_path, class: "navbar-item" %>
    </div>
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <% if @user_signed_in %>
            <%= link_to "New event", new_event_path, class: "button is-dark" %>
            <%= link_to @user.name, user_path(id: @user.id), class: "button is-light" %>
            <%= link_to "Sign out", session_path('current_user'), method: :delete, class: "button is-light" %>
          <% else %>
            <%= link_to "New user", new_user_path, class: "button is-dark" %>
            <%= link_to "Sign in", new_session_path, class: "button is-light" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</nav>
